:root {
  --body: #04456d;
  /* --body: #002b80; */
  --title: #008b8b;
  --white: #fff;
  --pink: #ff046f;
  --violate: #c63bfa;
}

* {
  font-family: sans-serif;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--pink);
  color: var(--white);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* body {
  background: var(--body);
  height: 3000px;
} */

header {
  width: 96%;
  background: var(--white);
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: .3s;
}

.header-active{
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: var(--body);
    transition: .2s;
}

header .navbar ul li a:hover{
    color: var(--title);
}

header .logo{
  font-size: 2.5rem;
  color: var(--title);
  text-transform: uppercase;
}

header .logo i{
  color: var(--body);
  padding: 0 .2rem;
}

header .fa-bars{
  font-size: 3rem;
  color: var(--title);
  cursor: pointer;
  display: none;
  transition: .3s;
}

.home{
  min-height: 100vh;
  background: linear-gradient(#04456dd0, #04456dd0), url(/images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.home .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center;
}

.home .content h1{
  font-size: 5rem;
  color: var(--white);
  padding: 0 1rem;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.home .content p{
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 25rem;
}

.home .content button{
  height: 4rem;
  width: 20rem;
  border-radius: 5rem;
  background: var(--body);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  border: none;
  transition: .3s;
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.5);
}

.home .content button:hover{
  letter-spacing: .2rem;
}



header .fa-times{
  transform: rotate(180deg);
  color: var(--title);
}




/* media queries */

@media (max-width: 768px){
  html{
    font-size: 55%;
  }
  header .fa-bars{
    display: block;
  }
  header .navbar{
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    background: var(--white);
    border-radius: 1rem;
    opacity: 0;
    transition: .3s linear;
  }
  header .navbar ul{
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a{
    font-size: 3rem;
    display: block;
  }
  header .nav-toggle{
    top: 5.5rem;
    /* transition: .5s; */
    opacity: 1;
  }
}

